<!DOCTYPE html>
<html>
<head>
  <title>Doodle</title>
  <%= stylesheet_link_tag    "doodle/application", media: "all" %>
  <%= javascript_include_tag "doodle/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
